# Ignore everything
*

# Whitelist patterns anchored to project root
!/.editorconfig
!/.gitattributes
!/.gitlab-ci.yml
!/.golangci.yml
!/.goreleaser.yml
!/.markdownlint.yml
!/.markdownlintignore
!/.pre-commit-config.yaml

# Whitelist patterns found anywhere in project
!*.go
!.gitignore
!Dockerfile
!go.mod
!go.sum
!LICENSE
!Makefile
!README.md

!*/
