# Ignore everything
*

# Whitelist patterns anchored to project root
!/.editorconfig
!/.gitattributes
!/.github/workflows/*.yml
!/.gitignore
!/.gitlab-ci.yml
!/.golangci.yml
!/.goreleaser.yml
!/.markdownlint.yml
!/.markdownlintignore
!/.pre-commit-config.yaml

# Whitelist patterns found anywhere in project
!*.go
!Dockerfile
!go.mod
!go.sum
!LICENSE
!Makefile
!README.md

!*/
