# Ignore everything
*

# Whitelist patterns anchored to project root
!/.commitlint.yaml
!/.editorconfig
!/.gitattributes
!/.gitlab-ci.yml
!/.golangci.yml
!/.goreleaser.yml
!/.markdownlint.yml
!/.markdownlintignore
!/.pre-commit-config.yaml
!/.github/PULL_REQUEST_TEMPLATE.md
!/.github/sbom_metadata/metadata.cyclonedx.json
!/.github/sbom_metadata/metadata.spdx.json
!/.github/scripts/*.sh
!/.github/workflows/*.yml
!/.vscode/extensions.json
!/.vscode/header.code-snippets
!/.vscode/launch.json
!/.vscode/settings.json
!/.vscode/tasks.json
!/docs/CHANGELOG.md

# Whitelist patterns found anywhere in project
!*.go
!.gitignore
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!COPYRIGHT.md
!DEVELOPMENT.md
!Dockerfile
!go.mod
!go.sum
!LICENSE
!Makefile
!README.md
!SECURITY.md
!testdata/

!*/
